@font-face {
    font-family: made-black;
    src: url(../font/made-black.otf);
}

body {
    color: #ffffff;
    font-family: made-black;
}

.main {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: -30px;
}

#rpm {
    display: inline;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}

.speed {
    position: relative;
    bottom: 70px;
    font-size: 30px;
}

.unit {
    font-size: 14px;
    position: relative;
    bottom: 70px;
}

/*svg.fuel-progress {
    position: absolute;
    bottom: 70px;
    right: 42%;
}

svg.oil-progress {
    position: absolute;
    bottom: 70px;
    left: 42%;
}*/
svg.radial-progress {
    height: auto;
    max-width: 40px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    stroke-width: 10;
}

svg.radial-progress circle.incomplete {
    opacity: 0.25;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
}

svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
}

.oil img, .fuel img {
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: 27px;
    left: 29px;
}

.belt {
    background-image: url(../icons/033-seat-belt_red.png);
    background-size: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 66px;
    left: 22px;
}

.engine {
    background-size: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 66px;
    left: 62px;
}

.engine.orange {
    background-image: url(../icons/007-motor_orange.png);
}

.engine.red {
    background-image: url(../icons/007-motor_red.png);
}

.tank {
    background-size: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 66px;
    left: 102px;
}

.tank.orange {
    background-image: url(../icons/010-oil_orange.png);
}

.tank.red {
    background-image: url(../icons/010-oil_red.png);
}

.oil, .fuel {
    position: absolute;
    bottom: 70px;
}

.oil {
    left: 42%;
}

.fuel {
    right: 42%;
}